/* COLORS */
.c1 {
    background-color: #eff0eb;
}

.c2 {
    background-color: #c5c1bb;
}

.c3 {
    background-color: #484e4a;
}

.c3:hover {
    background-color: #7e8883;
}

.c4 {
    background-color: #eacb48;
}

.c5 {
    background-color: #26a69a;
}

/* NORMALIZE */
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* TAGS */
body {
    background-color: #eff0eb;
}

h1, h2, h3, h4, h5, h6 {
    color: #484e4a;
}

/* HEADER */
.header {
    position: fixed;

    height: 60px;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #eacb48;

    box-shadow: 0 1px 3px rgba(57, 63, 72, .3);
    z-index: 10;
}

.header-title {
    flex: 1 1 auto;
    margin-left: 10px;

    color: #484e4a;
    display: inline-block;
    font-size: 1.8rem;
}

.header-login {
    margin-right: 10px;
    display: flex;
    align-items: center;

    cursor: pointer;
}

.header-user {
    margin-right: 10px;
    color: #484e4a;
    font-size: 1.2rem;
}

.header-login > .material-icons {
    height: 30px;
    width: 30px;
    font-size: 30px;

    color: #484e4a;
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    height: calc(100% - 60px);
    width: 60px;
    top: 60px;
    left: 0;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    background-color: #484e4a;
    list-style-type: none;
    overflow: hidden;

    transition: width 200ms ease-in-out;
}

.sidebar-open {
    width: 200px;
}

.sidebar-controller,
.sidebar-element {
    position: relative;
    height: 50px;
    width: 100%;

    background-color: #484e4a;

    transition: background-color 100ms ease-in-out;
}

.sidebar-controller {
    margin-top: auto;
    border-top: dimgray solid 1px;
}

.sidebar-controller > a,
.sidebar-element > a {
    display: flex;
    height: 100%;

    color: #eff0eb;
    text-decoration: none;

    align-items: center;
}

.sidebar-controller:hover,
.sidebar-element:hover {
    background-color: #c5c1bb;
}

.sidebar-controller .sidebar-icon {
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
}

.sidebar-open .sidebar-controller .sidebar-icon {
    transform: rotate(-180deg);
}

.sidebar-active {
    background-color: #c5c1bb;
}

.sidebar-active > a::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;

    width: 5px;
    height: 100%;

    content: "";
    background-color: #26a69a;
}

.sidebar-icon {
    height: 50px;
    width: 50px;
    min-width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 5px;
}

.sidebar-icon > .material-icons {
    height: 30px;
    width: 30px;
    font-size: 30px;
}

.sidebar-title {
    margin-left: 10px;
    font-size: 16px;
}

/* USERMENU */
.usermenu {
    position: fixed;
    height: calc(100% - 60px);
    width: 0px;
    top: 60px;
    right: 0;
    z-index: 15;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    background-color: #484e4a;
    overflow: hidden;

    transition: width 200ms ease-in-out;
    box-shadow: 7px 0 9px -7px rgba(0, 0, 0, 0.4);
}

.usermenu h2 {
    color: #eff0eb;
    margin: 15px 0 15px 10px;
}

.usermenu input {
    color: #eff0eb;
}

.usermenu-open {
    width: 200px;
}

.usermenu-overlay {
    top: 60px;

    position: fixed;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.5);
    display: none;

    z-index: 10;
}

.usermenu-open ~ .usermenu-overlay {
    display: inherit;
}

#logged-in-container {
    margin-top: 20px;
}

/* MAIN */
.main {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 0px;
    padding: 0;

    transition: margin-left 200ms ease-in-out;
}

.sidebar-open ~ .main {
    margin-left: 200px;
}

.main-center-wrapper {
    max-width: 800px;
    padding: 10px 15px;
    margin: 0 auto;
}

#main-title {
    margin: 10px 0 30px 0;
    padding: 0;
    text-transform: capitalize;
}

/* TABS */
.generic-tabs {

}

.generic-tabs-heading {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0;
    border-bottom: 1px solid #c5c1bb;
}

.generic-tab > a {
    position: relative;
    display: inline-block;

    padding: 15px 25px;
    text-align: center;

    text-decoration: none;
    outline: none;
    text-transform: uppercase;

    font-weight: 600;
    color: #484e4a;
}

.generic-tab > a::after {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;

    content: "";
    background-color: transparent;
    transition: background-color 100ms ease-in;
}

.generic-tab-active > a::after {
    background-color: #26a69a;
}

.generic-tab:not(.generic-tab-active) > a:hover {
    color: #7e8883;
}

/* HOME */
.info-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2;
    grid-column-gap: 10px;
}

.description-img {
    display: block;
    width: 80%; 
    margin: auto;
}

/* GAME */
.container-hidden {
    display: none;
}

.full-width-button {
    width: 100%;
}

#room-selection-container {
    margin-top: 30px;
}

.room-selection-row {
    padding: 10px 5px;
    border-radius: 3px;

    cursor: pointer;

    background-color: #c5c1bb;
    color: #484e4a;

    transition: transform 150ms ease-in-out, background-color 150ms ease-in-out, color 150ms ease-in-out;
}

.room-selection-active,
.room-selection-row:not(.room-selection-full):hover {
    transform: scale(1.02);
    background-color: #7e8883;
    color: #eff0eb;
}

.room-selection-active {
    cursor: inherit;
}

.room-selection-full {
    background-color: #eff0eb;
    border: #7e8883 1px solid;
    cursor: inherit;
}

.room-header {
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .room-selection-header {
        display: none;
    }
}

.game-container {
    margin: 0 auto;
    width: 75%;
}

#game-field {
    display: block;
    width: 100%;
    background-color: #c5c1bb;
}

@media screen and (max-width: 600px) {
    .game-container {
        width: 100%;
    }
}

#game-score-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: #c5c1bb;
    color: #eff0eb;
}

.game-score-item {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
    height: 50px;
    /*background-repeat: repeat-x;*/
}

.game-score-item::before,
.game-score-item::after {
    position: absolute;
    top: 0;

    width: 15px;
    height: 100%;

    content: "";
}

.game-score-item::before {
    left: 0;
    left: 0;
}

.game-score-item::after {
    right: 0;
}

.game-score-item:nth-child(1) {
    background-color: #EACB48;
    /*background-image: url("../img/game/game_score_center_1.png");*/
}

.game-score-item:nth-child(2) {
    background-color: #4867EA;
    /*background-image: url("../img/game/game_score_center_2.png");*/
}

.game-score-item:nth-child(3) {
    background-color: #5fd383;
    /*background-image: url("../img/game/game_score_center_3.png");*/
}

.game-score-item:nth-child(4) {
    background-color: #ea486e;
    /*background-image: url("../img/game/game_score_center_4.png");*/
}

.game-score-value {
    font-weight: 600;
}


/* SCORE */
#parent-score-box {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.child-score-box {
    background-color: #c5c1bb;
    color:  #484e4a;
    padding-left: 1rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    #parent-score-box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-auto-flow: dense;
    }
}

.child-score-box-level {
    width: 100%;
    padding: 10px 0;
    
    font-weight: 600;
    font-size: 1.4rem;
}

/* INPUTS */
.error-message {
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eacb48;
    color: #484e4a;

    border-radius: 2px;
    text-align: center;

    transition: height 200ms ease-in-out;
}

.error-message-hidden {
    opacity: 0;
    height: 0;
    max-height: 0;
}
